* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: max-content max-content;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  align-items: center;
  justify-items: center;
  background: linear-gradient(90deg, rgba(36,7,0,1) 0%, rgba(121,9,111,1) 35%, rgba(0,212,255,1) 100%);
}

.forms {
  position: relative;
  top: 60%;
  animation: teste 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 2px 34px -13px rgba(0,0,0,0.53);
  border-radius: 15px;
  background-color: #ffffff38;
  backdrop-filter: blur(20px);
  border: 1px #fff solid;
  height: 300px;
  width: 400px;
  grid-column: 2;
}

label {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

button {
  width: 200px;
  height: 50px;
  color: #000000;
  font-weight: 600;
  background-color: rgb(0, 248, 248);
  transition: ease 0.4s;
  border: none;
  border-radius: 15px;
}

input {
  text-indent: 10px;
  width: 250px;
  height: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

button:hover {
  color: #fff;
  background-color: rgb(2, 179, 179);
}

.erro {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  background-color: rgba(255, 0, 0, 0.288);
  text-align: center;
  border: 2px solid red;
  border-radius: 20px;
  color: white;
  grid-column: 2;
}

@keyframes teste {
  from {transform:  translateY(-300%);}
  to {transform: translateY(0%);}
}