
códigos mais pessoais/aleatórios/teste2.py
/UC - Analisar programação estruturada e orientada a objetos/classe/__pycache__
/UC - Analisar programação estruturada e orientada a objetos/desafio 2/__pycache__
UC - Analisar programação estruturada e orientada a objetos/bingo/__pycache__/tabela.cpython-312.pyc
UC - Analisar programação estruturada e orientada a objetos/bingo/__pycache__/bingo.cpython-312.pyc
*.pyc
/UC - Analisar programação estruturada e orientada a objetos/bingo/__pycache__
