
códigos mais pessoais/aleatórios/teste2.py
/UC - Analisar programação estruturada e orientada a objetos/classe/__pycache__
/UC - Analisar programação estruturada e orientada a objetos/desafio 2/__pycache__
