/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o body */
body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

/* Conteúdo principal */
.container {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

.main-content {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.stat-card {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  width: 22%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 20px;
}

.stat-card p {
  font-size: 32px;
  font-weight: bold;
}

.overview {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overview h2 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat-card {
    width: 80%;
    margin-bottom: 20px;
  }

  .container {
    margin-left: 0;
  }
}
  