html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Space Mono';
  margin: 0px;
  height: 100%;
}

main {
  margin-top: 100px;
}

nav {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  color: white;
  height: 100px;
  width: 100%;
  z-index: 1000;
  background-color: black;
  top: 0;
  left: 0;
}

.logo {
  position: relative;
  left: 40%;
}

nav a {
  text-transform: uppercase;
  padding-top: 35px;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.fundo {
  background-image: url('./assets/image/photo-1517976487492-5750f3195933.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

.landing {
  backdrop-filter: blur(10px);
  color: white;
  display: grid;
  height: 90vh;
  justify-content: center;
}

.landing img {
  position: relative;
  top: 20%;
  left: 15%;
  grid-column-start: 2;
}

.landing h1 {
  text-align: center;
  position: relative;
  width: 400px;
  height: 50px;
  grid-column-start: 2;
  margin: 0px;
}

.landing p {
  text-align: center;
  width: 400px;
  margin-top: -20%;
  grid-column-start: 2;
}

.landing a {
  color: white;
  text-decoration: none;
  position: relative;
  left: 20%;
  margin-top: -20%;
  text-align: center;
  grid-column-start: 2;
  width: 250px;
  padding-top: 25px;
  height: 50px;
  border-radius: 40px;
  background-color: #0b3d91;
}

.novidades h1 {
  position: relative;
  margin-top: 3%;
  left: 5%;
  width: 500px;
}

.news{
  display: grid;
  position: relative;
  padding-left: 20%;
  grid-template-columns: 300px 300px 300px;
  gap: 5%;
}

.left {
  box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
  padding: 10%;
  height: 450px;
  grid-column: 1;
}
.middle {
  box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
  padding: 10%;
  height: 450px;
  grid-column: 2;
}
.right {
  box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
  padding: 10%;
  height: 450px;
  grid-column: 3;
}

.espaco h1{
  position: relative;
  color: white;
  top: 5%;
  left: 5%;
  width: 500px;
}

.espaco {
  background-image: url('./assets/image/pexels-krisof-1252890.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
  width: 100%;
  height: 90vh;
}

.blur {
  width: 100%;
  height: 90vh;
  backdrop-filter: blur(3px);
}

.main-text img{
  position: relative;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

.text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 700px;
  margin-top: 10%;
  color: white;
  display: block;
}

.climaeterra {
  background-image: url('./assets/image/GettyImages-1228431015-scaled.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

.climaeterra h1 {
  color: white;
  position: relative;
  top: 5%;
  left: 5%;
  width: 500px;
  margin: 0;
}

.text-clima {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 700px;
  margin-top: 17%;
  color: white;
  display: block;
}

.nasa {
  background-image: url('./assets/image/wp10567920.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

.nasa h1 {
  color: white;
  position: relative;
  top: 5%;
  left: 5%;
  width: 500px;
  margin: 0;
}

.text-nasa {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 700px;
  margin-top: 17%;
  color: white;
  display: block;
}

footer {
  background-image: url('./assets/image/photo-1719859061156-d3d762d2cf20.jfif');
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  border-top: rgba(255, 255, 255, 0.808) solid 5px;
}

footer p{
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  position: relative;
}

.logo-footer {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  grid-column: 1;
  left: 40%;
}

.block1 {
  grid-column: 1;
  margin-top: 2%;
}

.block2 {
  position: relative;
  grid-column: 1;
  top: 3%;
}

.block3 {
  grid-column: 2;
  margin-top: -22%;
}

.block4 {
  grid-column: 2;
  margin-top: -20%;
}

.block5 {
  grid-column: 2;
  margin-top: -15%;
}

.block6 {
  grid-column: 2;
  margin-top: -10%;
  margin-bottom: 25%;
}