* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
}

h1 {
  color: white;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

.botoes button {
  width: 250px;
  height: 80px;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.botoes button:hover {
  background-color: rgb(197, 195, 195);
}