#pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#pokemon div {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  height: min-content;
}

#pokemon>div>span {
  text-align: center;
  border-top: 2px solid black;
}