* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

nav {
  background-color: #0063b1;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(auto, 7);
  align-items: center;
  justify-content: center;
  justify-items: center;
}

img {
  grid-column: 1;
  width: 25px;
  height: 24px;
  padding: 13px 15px;
  background-color: #5d5a58;
  cursor: pointer;
}

.main_header_text {
  padding-left: 10px;
  grid-column: 2;
  font-weight: 400;
  color: white;
  margin-right: 38px;
}

.TJMS {
  grid-column: 3;
  position: relative;
  margin-left: 1150px;
  font-weight: 400;
  color: white;
  background-color: #003761;
  padding: 9px 25px;
  cursor: pointer;
}

.TJMS:hover {
  text-decoration: underline;
}

.identificar_header {
  padding-left: 20px;
  padding-right: 10px;
  grid-column: 4;
  font-weight: 400;
  color: white;
}

.main_content {
  width: 1440px;
}

form {
  display: grid;
  grid-template-columns: auto 200px;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.input-required {
  height: 32px;
  width: 100%;
  border: 1px solid #ced4da;
  grid-column: 2;
}

#select {
  grid-column: 1;
  height: 32px;
  border: 1px solid #ced4da;
  width: 100%;
}

.span-required {
  grid-column: 2;
  display: none;
  color: red;
}